
<br>
<br>
{{user.username}}
<br>
{{user.email}}
<br>
{{user.address.address}}
<br>
{{user.address.postalCode}}
<br>
{{user.address.city}}
<br>
{{user.address.state}}

<a href="/profile/edit/{{user.id}}">Editar Perfil</a>
